/* comentarios em css*/

/* Seletores
    - global selector '*'
    - element/type selector 'h1, h2, p, div'
    - ID selector '#box, #container'
    - class selector '.red, .m-4'
    - atribute selector, pseudo-class, pseudo-element e outros

*/

/* atributo global*/
* {
    font-family: 'Courier New', Courier, monospace;
} 

.bg-p {
    background-color: orange;
    width: 200px;
    text-align: center;
    border: 8em;
    border-radius: 1em;    
}

#author-name {
    font-size: 17px;
    background-color: blue;    
    text-align: center;
    width: 200px;
    color: white;
    margin-bottom: auto;
    border-radius: 5rem;    m
}

body {
    background-color: #7C7C8A;
}